# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .gitignore
将删除 .idea/
将删除 db.sqlite3
将删除 manage.py
